@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
    font-family: "Decorated_letters";
    src: url("other_fonts/zamolxisornament-dxrv-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MedievalDeco";
    src: url("other_fonts/middleagesdeco_personal_use-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


body{
    color: rgb(77, 56, 56);
    background-image:  url("imgs/old-paper-background-texture-29.jpg");
    background-color: transparent;
    background-repeat:repeat;
    font-family: "MedievalSharp", cursive;
    font-weight: 300;
}

button{
    background-color: rgba(204, 7, 46, 0.726);
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    border-radius: 10%;
    border: solid 4px #b9962e;
}


.container-fluid > .row > .col-8{
    background-color: transparent;
    background-repeat:repeat;
}

.container-fluid > .row > .col-2{
    background-image: url("imgs/beasts.jpg");
    background-position:top;
    background-repeat:repeat;
    padding: 15px;
}


/*.col-3{
    background-image: url("imgs/side_pic_2.jpg");
    background-position: center;
    background-repeat: repeat;
}
*/
#mainpage{
    background-image: inherit;
}

/*main è dove trovo le issues*/ 
.main #IssueBox .col-4{
    background-color: rgb(218, 161, 40);
}
.main h3{
    font-family: "MedievalDeco";
    color:rgb(204, 7, 47) ;
}

.container-fluid h1{
    font-family: "MedievalDeco";
    color:rgb(204, 7, 47);
    font-weight:normal;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 4em;
}

.container-fluid h2{
    font-family: "MedievalDeco";
    color:rgb(33, 31, 153);
    font-weight: normal;
    text-align: center;
    padding:2%;
}

.container-fluid h3{
    font-family: "MedievalDeco";
    color:rgb(204, 7, 47);
    font-weight: 300;
    text-align: center;
    padding: 3%;
}

.container-fluid h4{
    font-family: "MedievalDeco";
    color:rgb(33, 31, 153);
    font-weight: 300;
}
.container-fluid h5{
    font-family: "MedievalDeco";
    color:rgb(204, 7, 47);
    font-weight: 300;
}
.container-fluid h6{
    font-family: "MedievalDeco";
    color: rgb(33, 31, 153);
    font-weight: 300;

}
.container-fluid p{
    font-family: "MedievalSharp";
    color: rgb(77, 56, 56);
    font-weight: 400;
}

/*card nella pagina della issue*/
.metadatibox > .card >.card-header {
    height: 14vh;
}

.card{
    background-image: url("imgs/old-paper-background-texture-29.jpg") ;
    border: solid 5px rgba(119, 74, 5, 0.534); 
    padding: 3px;
    padding-top: 5px;
}

.card a{
    font-family: "MedievalSharp", cursive;
}
.card > .card-header{
    background-image: url("imgs/old-paper-background-texture-29.jpg");
    font-family: "MedievalDeco";
    font-weight: 300;
}

.card > .card-body{
    background-image: url("imgs/old-paper-background-texture-29.jpg");
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: "MedievalSharp", cursive;
    font-weight: 300;
}

.card > .card-text{
    font-family: "MedievalSharp", cursive;
}

/*footer della pagina iniziale*/

footer{
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #d7c8a4;
    color: rgb(77, 56, 56);
}

footer .col-3{
    font-family: "MedievalSharp", cursive;
    background-image: url("imgs/old-paper-background-texture-29.jpg");
    border: solid 5px rgba(119, 74, 5, 0.534);
}

.col-3:first-of-type::first-letter{
    font-family: "MedievalSharp", cursive;
}

.p-3{
    background-color: rgb(77, 56, 56);
    color:#d7c8a4 ;
}

.p-3 a{
    color:#d7c8a4 ;
}

.form-check-input:checked {
    background-color: rgb(204, 7, 47);
}

/*articoli*/

.container::-webkit-scrollbar{
    display: none;
}
.container .col-12{
    font-size: 15px;
}

.container .col-6{
    font-size: 13px;
}

.container .col-4{
    font-size: 12px;
}

.container {
    background-image: url("imgs/old-paper-background-texture-29.jpg");
    background-color: transparent;
    background-repeat:repeat;
    font-family: "MedievalSharp", cursive;
    font-size: 90%;
    font-weight: bolder;
    background-color: rgb(240, 203, 155);
    text-align: justify;
}

.container .colonne_variabili{
    border-left: solid 5px;
    border-right: solid 5px;
    border-color: rgba(119, 74, 5, 0.534);
}

.container img{
    max-width: 70%;
    image-rendering: crisp-edges;
    display: block;
    border-radius: 8px;
    margin: left 5%;
    margin: right 10%;;
    border: 5px solid rgb(136, 48, 48);
    filter:sepia();
}
.container h1{
    font-family: 'MedievalDeco';
    font-weight: normal;
    word-wrap: break-word;
    font-size: 5em;
    color: rgb(204, 7, 47);
    font-weight: 700;
    text-align:justify;
    border-top: solid, 10px;
    border-bottom: solid, 2px;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    padding:2%;
}

.container h2{
    font-family: "MedievalDeco"; 
    font-weight: 400;
    color: rgb(33, 31, 153);
    padding-top: 2px;
    padding-bottom: 2px;
    word-wrap: break-word;
    padding:1%;
}

.container h3{
    font-family: "MedievalDeco";
    word-wrap: break-word;
    font-weight: 200;
    color: rgb(204, 7, 47);
    text-align: justify;
}

.ArticleBody{
    columns: 2;
}
.ArticleBody div:first-of-type:first-letter{
    font-family: "MedievalDeco";
    font-style: italic;
    font-weight:normal;
    font-size: 3em;
    color: rgb(204, 7, 47);
}

/*.par:first-of-type::first-letter{
    font-family: "MedievalDeco";
    font-style: italic;
    font-weight: normal;
    font-size: 3em;
    color:rgb(204, 7, 47) ;
}*/
.container p{
    margin: 0px;
    color: rgb(77, 56, 56);
    padding: 4px;
}

.container q{
    line-height: 1;
    font-style: oblique;
    color: rgb(48, 127, 129);
}

.Op-box{
    border: solid black;
    border-radius: 10%;
    position:static;
    font-family:"MedievalSharp", cursive;
    margin: 2em 1em 1em 5em;
    padding: 1em;
}

.container a{
    color: RGB(95, 50, 18);
}

.container figcaption{
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
}

table {
    font-family: "MedievalSharp", cursive;
    max-width: 30%;
    text-align: justify;
    word-wrap: break-word;
    
}

.highlight{
    background-color:yellow;
}

#sidebar{
    background-image: url("imgs/side_pic_2.jpg"); 
    background-position:top;
    background-repeat: repeat;
}

.colonnaottica p {
    color: rgb(168, 2, 35);
}

#scrollLink{
    font-size: 1rem;
    border: solid 5px gold;
    border-style:inset;
    padding: 3%;
    background-color: inherit;
    color: rgb(33, 31, 153) ;
  }

.author{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.date{
    text-align: center;
}

.table>:not(caption)>*>* {
    padding: .1rem .0rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 2px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}