@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Poppins:wght@300&display=swap');
@font-face {
    font-family: "Newsense";
    src: url("other_fonts/newsense-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Colombia";
    src: url(other_fonts/colombia-rp0dv-webfont.woff) format("woff");
}

body{
    color: #684e51;
    background-color:#e4b241;
    font-family: "Newsense";
    font-weight: 400;
}

button{
    font-family: "Colombia";
    font-weight: bold;
    color: darkmagenta;
    border: solid blue green ;
    border-style: double;
    border-radius:15px 50px 30px;
    background-color:rgba(168, 164, 164, 0.836);
}

.container-fluid > .row > .col-8{
    background-color: #e4b241;
    fill-opacity: inherit;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container-fluid > .row > .col-2{
    background-image: url("imgs/seamlessback.jpg");
    background-position: center;
    background-repeat: repeat;
}

.main >h3{
    border-bottom:  solid green;
    border-width: thick;
}
/*perché questa cosa non esce ?!?!?!*/
.main > #IssueBox .col-4{
    border: solid 3px rgb(211, 124, 139);
    padding: 0 0 0 0;
    background-color: #974705;
    border-radius: 5px;
}

#IssueBox{
    background-color: khaki;
}

#theteam{
    background-color: #accaa0;
}

#theteam > .col-4{
    border:thick;
    border-style: groove;
    border-color: seagreen #7ca6aa;
}

.container-fluid h1{
    font-family: "Newsense";
    color: RGB(208, 79, 44);
    text-shadow: -1px 0 #0c0000, 0 1px #1a0101, 1px 0 #0f0101, 0 -1px #130101;
    font-size: 5em;
    font-weight: 800;
    text-align: end;
    padding-top: 5px;
}

.container-fluid h2{
    font-family: "Newsense";
    color: seagreen;
    text-align: end;
    font-size: 1.5em;
    font-weight: 600;
}

.container-fluid h3{
    font-family: "Newsense";
    color: seagreen;
    text-align:center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3%;
}

.container-fluid h4{
    font-family: "Newsense";
    font-weight: bold;
}

.container-fluid h5{
    font-family: "Newsense";
    font-weight: bold;
}
.container-fluid h6{
    font-family: "Newsense";
    font-weight: bold;
}

.container-fluid p{
    font-family: "Colombia";
    font-size: 1.5em;
    font-weight: bold;
}

.card{
    color:RGB(208, 79, 44);
    font-family:"Colombia";
    font-weight: bold;
    background-color:#accaa0; 
    text-align: end;
    padding: 5%;
}

.card > .card-header{
    background-color: inherit;
    font-family: "Newsense";
    font-weight: bold;
    font-size: 1.5em;
}

.card > .card-body{
    font-family: "Colombia";
    font-weight: bold;
    font-size: 1em;
    color: #431e15;
}

.card a{
    font-family: "Colombia";
    color: rgb(25, 31, 117);
}

.form-check-label{
    font-size: 1em;
    font-weight: bold;
    color: #431e15;
}

.form-check-input:focus{
    border-color: rgb(25, 117, 40);
}

.form-check-input:checked{
    background-color: rgb(128, 53, 128);
}

.form-check-input[type=checkbox]{
    border-radius: 0;
}

.container::-webkit-scrollbar{
    display: none;
}

.container .col-12{
    font-size: 20px;
}

.container .col-6{
    font-size: 13px;
}

.container .col-4{
    font-size: 10px;
}
.container{
    background-repeat: repeat;
    background-size: contain;
    /*font-size: 80%;*/
    font-weight: normal;
    text-align: justify;
    background-color: RGB(255, 204, 154); 
}

.container .colonne_variabili{
    border-left: solid 30px;
    border-color: #d9ac36 #d04f2c;
    border-style: groove;
}

container img{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.container h1{
    word-wrap: break-word;
    font-family: "Newsense";
    font-size: 3.5em;
    text-align:end;
    color: #d04f2c;
    border: 10px;
    margin: 20px;
    padding-top: 35%;
    text-shadow: -1px 0 #0c0000, 0 1px #1a0101, 1px 0 #0f0101, 0 -1px #130101; /*this makes the borders black*/
}

.container h2{
    word-wrap: break-word;
    font-family: "Newsense";
    color: green;
    font-weight:300;
    text-align: end;
    padding: 5%;
}

.container h3{
    font-family: "Newsense";
    /*font-size: 1.7em;*/
    font-weight: bold;
    text-align: center;
    color: RGB(96, 61, 127);
}

.container p{
    font-family:"Colombia";
    font-size: 1.5em;
    font-weight: bold;
    text-align:justify;
    color: #431e15;
    padding: 2mm;
}

.ArticleHead{
    background: url("imgs/seventies_background_pat\ \(1\).svg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: fit-content;
}

img {
    text-align:center;
    border: 10px solid RGB(114, 154, 79);
    border-radius: 15px 50px 30px;
    border-style:double;
  }


.Op-box{
    border: solid 8px;
    border-style: groove;
    border-color: green purple;
    border-radius: 10%;
    text-align: end;
    font-family:'Poppins', sans-serif;
    margin: 2em 1em 1em 5em;
    padding: 1em;
}

.Op-box:first-of-type::first-line{
    font-size: 1em;
    font-family: "Newsense";
    color: purple;
}

.container a{
    color: RGB(208, 79, 44);
}

.container li{
    font-family:'Poppins', sans-serif;;
    text-align:justify;
    font-size: small;
    margin: auto;
    color: #431e15;
    padding: 2mm;
}

.container figcaption{
    font-family: monospace;
    font-style:normal;
    font-size: 0.8em;
    text-align: center;
}
