@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    background-color: #E3F0FF;

}

html{
  font-size: 1vw;
}

.container-fluid > .row > .col-8 {
    padding-right: 0;
    padding-left: 0;
    -webkit-box-shadow: -10px 10px 15px -9px rgba(0,0,0,0.69); 
box-shadow: -10px 10px 15px -9px rgba(0,0,0,0.69);
}

.nav-item {
  font-size: 1.2rem;
}
ul {
    font-size: 1rem;
}

.container-fluid h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    color: white;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
    padding: 40px 10px 40px 10px;
    letter-spacing: 2px;
    font-style: bold;
    background-image: radial-gradient(circle, #ceb0e4, #c5c0ee, #c2cef1, #c8dbf1, #d5e5f0);
    border-radius: 8px;
     }

.container-fluid h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    color: #000000f0;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    border-radius: 4px;
    padding: 1% 10% 1% 10%;
    margin-bottom: 10px;
}
.container-fluid h3 {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.container-fluid h4 {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.container-fluid  h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.container-fluid h6 {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
   }

.container-fluid > .row > .col-8 {
    background-color: #ffffff;
    border: solid 1px #212528;
    border-radius: 8px;
}

.container-fluid p {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    font-size: 1rem;
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
    padding: 5px 25px 5px 25px;

}

#Articles {
    box-shadow: -10px 10px 15px -9px rgba(0,0,0,0.69);
}

.card {
    border-radius: 10px;
    border:solid 2px;
    background-color: #fff;
    font-weight: 300;
    color: #000000;
    border-color: #bbb;
    -webkit-box-shadow: -10px 10px 15px -9px rgba(0,0,0,0.69); 
box-shadow: -10px 10px 15px -9px rgba(0,0,0,0.69);

}

.card p {
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 5px 0 5px 0;
}
.card > .card-header {
    color: inherit;
    background-color: #f3f3f3;
    border-color: #000000;
}

.form-check-input:focus {
    border-color: #212528;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(53,126,162,.25);
}

.container-fluid .card-title {
    font-size: 2rem;
    text-align: center;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    text-transform: capitalize;
    /* margin-top: 5%; */
    /* margin-bottom: 0; */
    padding:0 0 0 0 ;
}
.form-check-input:checked {
    background-color: #ceb0e4;
    border-color: #bbb;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25;
}

.container::-webkit-scrollbar {
  display: none;
}

footer {
    margin-top: 1em;
    background-color: white;
}

footer .col-3 {
    text-align: justify;

}

footer h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}


footer p {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    font-size: 1em;
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify;
    padding: 5px 25px 5px 25px;
}


footer .p-3{
    background-image: linear-gradient(to right, #3b244e, #3c3a67, #39517e, #356792, #357ea2);
    color: white;
}

.card a {
  color: #9c8ded;
  overflow: hidden;
  background-image: linear-gradient(to right, #3b244e, #3c3a67, #39517e, #356792, #357ea2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
     } 
.card button {
    color: #fff;
    background-image: linear-gradient(to right, #3b244e, #3c3a67, #39517e, #356792, #357ea2);
    border-color: #ffffff;
}

.card a:hover {
  background-position: 0 100%;
}


.card a:visited {
  color: #b5abe8;

}

.container::-webkit-scrollbar {
  display: none;
}
.colonne_variabili {
  font-family: 'Raleway', sans-serif;
  padding-left:0px;
  padding-right: 0px;
}
.container > .row > .col-12{
    font-size:28px;
}

 .container > .row > .col-6 {
    font-size:24px;
}

.container > .row > .col-4{
    font-size:22px;
}

.CoverMain img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.CoverMain {
    background-image: radial-gradient(circle, #ceb0e4, #c5c0ee, #c2cef1, #c8dbf1, #d5e5f0);
    border-radius: 8px;
}

.CoverTitle h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    font-weight: 800;
    line-height: 1;
    /* text-shadow: -1px 0 transparent, 0 1px transparent, 1px 0 black, 0 -1px black; */
    text-transform: capitalize;
    text-align: center;
    padding: 10px 10px 20px 20px;
    letter-spacing: 2px;
    font-style: bold;
     }


.CoverInfo .author {
    background-image: url("imgs/speaker.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em;
    display: block;
    font-size: inherit;
    font-family: inherit;
}

.CoverInfo .date {
    font-size: inherit;
    display: block;
    font-family: inherit;
}

.CoverMain h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-style: italic;
    color: #000000f0;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    border-radius: 4px;
    padding: 1% 10% 1% 10%;
    margin-bottom: 10px;
}

.CoverInfo p {
    line-height: 2;
    font-size: 0.6em !important;
    padding: 0 10% 0 10%;
    font-weight: 600;
    list-style: none;
    margin: auto;
    text-transform: capitalize;
}

.CoverInfo ul {
    line-height: 2;
    font-size: 0.6em;
    padding: 0 10% 0 10%;
    font-weight: 600;
    list-style: none;
    margin: auto;
    text-transform: capitalize;
}

.ArticleBody {
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
}

.ArticleBody h3 {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody h4 {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1,4em;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1,2em;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody h6 {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: capitalize;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody p {
    font-weight: 600;
    line-height: 2;
    font-size: 0.7em;
    padding: 5px 25px 5px 25px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.ArticleBody blockquote{
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic;
  margin-bottom: 5%;

}

.ArticleBody blockquote::before {
    content: "\"";
    font-family: 'Catamaran', sans-serif;
    font-size: 4em;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    font-style: initial;
}




.ArticleBody a {
  color: #9c8ded;
  overflow: hidden;
  background-image: linear-gradient(to right, #3b244e, #3c3a67, #39517e, #356792, #357ea2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
     } 

.ArticleBody a:hover {
  background-position: 0 100%;
}


.ArticleBody a:visited {
  color: #b5abe8;

}

.ArticleBody ul {
    padding: 5px 25px 5px 25px;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 600;
    list-style: none;
}

.ArticleBody li {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 2;
  margin-top: 15px;
}

.ArticleBody::first-letter {
    font-size: 2rem;
    color: #212529;
    margin-right: 5px;
    text-shadow: 3px 3px #fcebf3;
    font-weight: 900;
    position: relative;
}


.ArticleBody figure{
    margin: 0 0 1em;
    margin-bottom: .5em;
    line-height: 1;
    border-radius: .25em !important;
    margin-left: 5%;
    margin-right: 5%;
}


.ArticleBody figure > img {
    border-radius: .25rem!important;
}


.ArticleBody figcaption {
    margin-right: 11%;
    font-weight: 400;
    line-height: 1;
    font-size: 0.6em;
    margin-left: 11%;
    text-align: justify;
}

.CoverMain figcaption {
    color: #333;
    font-weight: 400;
    line-height: 1;
    font-size: 0.6em;
    margin-left: 5%;
    text-align: center;
    margin-right: 5%;
    margin-top: 5px;

}

#nightview {
font-size: 3.5rem;
}

  #nightview:hover {
  cursor: pointer;
}

.modal {
    color:#bbb;
}

.modal-footer > .btn-primary {
    color: #fff;
    background-image: linear-gradient(to right, #3b244e, #3c3a67, #39517e, #356792, #357ea2);
    border-color: #ffffff;
}

.modal-header > h5 {
    color:#000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-style: small-caps;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 10px 5px 10px;
}

.modal-body > p {
    color:#000000;
    font-weight: 400;
    line-height: 2;
    font-size: 0.9rem;
    padding: 5px 10px 5px 10px;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
}
 .modal-body > .mb-3 > label {
    color:#000000;
    font-weight: 400;
    line-height: 1,5;
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
 }

 #IssuesBox a {
        -webkit-text-fill-color: #f9fafb;
 }

 table {
    font-size: 1em;
    border: solid 1px black;
    text-align: justify;
    table-layout: fixed;
    word-break: break-word;
}

tr {
    vertical-align: middle;
}

th {
    width: 100%;
    font-size: 1em;
    border:solid 1px black;
}

td {
    width: 100%;
    font-size: 0.6em;
    border:solid 1px black;
}
table caption {
    font-size: 0.6em;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6
{
  voice-family: paul;
  voice-stress: moderate;
  voice-volume: medium 6dB;
}
p.heidi
{
  voice-family: female;
  voice-balance: left;
  voice-pitch: high;
  voice-volume: -6dB;
}
p.peter
{
  voice-family: male;
  voice-balance: right;
  voice-rate: fast;
}
span.special
{
  voice-volume: soft;
  pause-after: strong;
}

.icon.alt {
    color: none;
    overflow: none;
    background-image: none;
    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: initial;
    text-decoration: none;
}

.highlight{
    background-color: yellow;
}