@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.container::-webkit-scrollbar {
  display: none;
}
.colonne_variabili {
  font-family: 'Raleway', sans-serif;
  padding-left:0px;
  padding-right: 0px;
}
.colonne_variabili img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.CoverMain {
    background: radial-gradient(circle, rgba(238,174,219,1) 0%, rgba(148,157,233,1) 100%);
    opacity: 90%;
    border-radius: 8px;
}

.CoverTitle h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
    line-height: 1;
    /* text-shadow: -1px 0 transparent, 0 1px transparent, 1px 0 black, 0 -1px black; */
    text-transform: capitalize;
    text-align: center;
    padding: 10px 10px 20px 20px;
    letter-spacing: 2px;
    font-style: bold;
     }


.CoverInfo{

}

.CoverInfo h2 {
    font-size: 1.2rem;
    font-style: italic;
    color: #000000f0;
    font-weight: 600;
    line-height: 1;
    text-align: -webkit-center;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.CoverInfo p {
    color: black;
    font-weight: 500;
    line-height: 1;
    font-size: 1.1rem;
    text-transform: lowercase;
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px;

}

.ArticleBody {
  background-color: #ffffff;
}

.ArticleBody h3, h4, h5, h6 {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody p {
    color: #333;
    font-weight: 600;
    line-height: 2;
    font-size: 1rem;
    padding: 5px 25px 5px 25px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.ArticleBody blockquote{

}
 .ArticleBody blockquote p {



 }

.ArticleBody a {

     } 

.ArticleBody ul {

}


.ArticleBody::first-letter {
    font-size: 2rem;
    color: #212529;
    margin-right: 5px;
    text-shadow: 3px 3px #fcebf3;
    font-weight: 900;
    position: relative;
}

.ArticleBody figcaption {
    color: #333;
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;
    text-align: center;
}
.CoverMain figcaption {
    color: #333;
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;
    text-align: center;
}

.popup {
  position: relative;
  display: inline-block;
}

.popup .popuptext {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px 50px 30px 50px;
    background: url("imgs/PC_MUSIC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;
}

.popup .popuptext h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.popup .popuptext p {
    color: #000000;
    font-weight: 200;
    text-align: justify;
    font-size: 1rem;
    margin:auto;

}
.popup .popuptext ul {
  list-style-type: none;
  font-size: 1rem;
}
.popup .popuptext li {
    margin: auto;
    text-transform: lowercase;
}

#ClosePop {
  text-transform: uppercase;
  width: auto;
  border: outset 1px;
  cursor: pointer;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}