@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

.container::-webkit-scrollbar {
  display: none;
}
.colonne_variabili {
  font-family: 'Raleway', sans-serif;
  padding-left:0px;
  padding-right: 0px;
}
.colonne_variabili img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.CoverMain {
    background: url("imgs/PC_MUSIC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;
    border-radius: 8px;
}
.CoverTitle h1 {

  font-size: 2rem;
  color: #5013d1;
  font-weight: 800;
  line-height: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: capitalize;
  text-align: -webkit-center;
  border-radius: 4px;
  padding: 10px 10px 20px 20px;

     }


.CoverInfo{

}

.CoverInfo h2 {
  font-size: 1.5rem;
  font-style: italic;
  color: #5013d1;
  font-weight: 600;
  line-height: 1;
  text-align: -webkit-center;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;

}

.CoverInfo p {
    color: black;
    font-weight: 500;
    line-height: 1;
    font-size: 1.1rem;
    text-transform: lowercase;
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px;

}

.ArticleBody {
  background-color: #ffffff;
}
.ArticleBody h3 h4 h5 h6 {
  font-size: 1.5rem;
  color: #5013d1;
  font-weight: 600;
  line-height: 1;
  background-color: #fbeaf0;
  text-align: -webkit-center;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
     }

.ArticleBody p {
    color: black;
    font-weight: 500;
    line-height: 2;
    font-size: 1rem;
    padding: 5px 35px 5px 35px;
    text-align: justify;
     } 

.ArticleBody blockquote{

}
 .ArticleBody blockquote p {



 }

.ArticleBody a {

     } 

.ArticleBody ul {

}

.ArticleBody figcaption {
    color: #5013d1;
    font-weight: 500;
    line-height: 1;
    font-size: 1.1rem;
    text-transform: lowercase;
    display: inline;
    margin-right: 20px;
}
.CoverMain figcaption {
    color: #5013d1;
    font-weight: 500;
    line-height: 1;
    font-size: 1.1rem;
    text-transform: lowercase;
    display: inline;
    margin-right: 20px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px 50px 30px 50px;
    background: radial-gradient(rgba(234, 160, 172, 0.30), rgba(224, 120, 117, 0.50));
}

.popup .popuptext h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.popup .popuptext p {
    color: #000000;
    font-weight: 200;
    text-align: justify;
    font-size: 1rem;
    margin:auto;

}
.popup .popuptext ul {
  list-style-type: none;
  font-size: 1rem;
}
.popup .popuptext li {
    margin: auto;
    text-transform: lowercase;
}

#ClosePop {
  text-transform: uppercase;
  width: auto;
  border: outset 1px;
  cursor: pointer;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}