@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container::-webkit-scrollbar {
  display: none;
}
.colonne_variabili {
  font-family: 'Raleway', sans-serif;
  padding-left:0px;
  padding-right: 0px;
}
.colonne_variabili img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.CoverMain {
    background: radial-gradient(circle, rgba(238,174,219,1) 0%, rgba(148,157,233,1) 100%);
    opacity: 90%;
    border-radius: 8px;
}

.CoverTitle h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
    line-height: 1;
    /* text-shadow: -1px 0 transparent, 0 1px transparent, 1px 0 black, 0 -1px black; */
    text-transform: capitalize;
    text-align: center;
    padding: 10px 10px 20px 20px;
    letter-spacing: 2px;
    font-style: bold;
     }


.CoverInfo{

}

.CoverInfo h2 {
    font-size: 1.2rem;
    font-style: italic;
    color: #000000f0;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    border-radius: 4px;
    padding: 1% 10% 1% 10%;
    margin-bottom: 10px;
}

.CoverInfo p {
    font-weight: 500;
    line-height: 1;
    font-size: 1.1rem;
    text-transform: lowercase;
    margin-right: 5%;
    margin-bottom: 15px;
    text-align: center;
}

.CoverInfo ul {
    line-height: 3;
    padding: 0 10% 0 10%;
    font-weight: 600;
    list-style: none;
    margin: auto;
    text-transform: capitalize;
}

.ArticleBody {
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
}

.ArticleBody h3 {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody h4 {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody h5 {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody h6 {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 5px 25px 5px 25px;
}

.ArticleBody p {
    font-weight: 600;
    line-height: 2;
    font-size: 1rem;
    padding: 5px 25px 5px 25px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.ArticleBody blockquote{

}
 .ArticleBody blockquote p {



 }

.ArticleBody a {
  color: #9c8ded;
  overflow: hidden;
  background: linear-gradient(to right, #d8b2e2, #9c8ded 50%, #7176ce 50%);  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
     } 

.ArticleBody a:hover {
  background-position: 0 100%;
}


.ArticleBody a:visited {
  color: #b5abe8;

}

.ArticleBody ul {
    padding: 5px 25px 5px 25px;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 600;
    list-style: none;
}

.ArticleBody li {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 2;
  margin-top: 15px;
}

.ArticleBody::first-letter {
    font-size: 2rem;
    color: #212529;
    margin-right: 5px;
    text-shadow: 3px 3px #fcebf3;
    font-weight: 900;
    position: relative;
}


.colonne_variabili figure{
  margin: 0 0 1rem;
}

.ArticleBody figcaption {
    color: #333;
    margin-right: 5%;
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;
    margin-left: 5%;
}

.CoverMain figcaption {
    color: #333;
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;
    margin-left: 5%;
    text-align: center;
    margin-right: 5%;
    margin-top: 5px;

}

#nightview {
    top: 2%;
    left: 1%;
    position: absolute;
    float: right;
    font-size: 2rem;
    z-index: 1;
}

  #nightview:hover {
  cursor: pointer;
}

.container .btn-primary {
    color: #fff;
    background: radial-gradient(circle, rgba(148,157,233,1) 0%, rgba(238,174,219,1) 100%);
    border-color: #ffffff;
}

/* Only real difference from normal hteme */
.ArticleBody {
background: rgb(52,54,78);
background: linear-gradient(0deg, rgba(52,54,78,1) 0%, rgba(33,30,46,1) 21%);
  color: #ffffff;;
  border-radius: 8px;
}

#nightview {
  color: white;
}

.colonne_variabili {
background: rgb(52,54,78);
background: linear-gradient(0deg, rgba(52,54,78,1) 0%, rgba(33,30,46,1) 21%);
}

.ArticleBody figcaption {
    color: #fff;
}