@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');


html{
  font-size: 100%;
}

* {
  font-family: 'Newsreader', serif;
}

.card h5 {
  text-align: center;
  margin-top: 5px;
}
.card p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 1rem;
}


.CoverTitle h1 {
    font-size: 2rem;
    text-align: center;
    font-style: bold;
     }

.CoverInfo h2 {
    font-size: 1.5em;
}

.CoverInfo ul {
    font-size: 1em;
    list-style: none;
}

.ArticleBody h3 {
    font-size: 2em;
}

.ArticleBody h4 {
    font-size: 2em;
}

.ArticleBody h5 {
    font-size: 1.8em;

}

.ArticleBody h6 {
    font-size: 1.6em;
}

.ArticleBody p {
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}

.card-title {
  font-weight: 800;
}

#bar-header {
  background-color: #543013;
  width: 100%;
  height: 150px;
  border-bottom: solid 3px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1vh;


}

h3 {
  font-size: 2.5rem;
  margin-top: 3vh;
}

h4 {
  font-size: 2rem;
  margin-top: 3vh;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

p {
    text-align: justify;
    font-size: 1.1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}



ul {
  font-size: 1rem;
}
#stylesglasses{
  margin-right: 3vh;
}

nav {
  border-bottom: 4px solid black;
}

nav > .container-fluid {
  font-size: 1.3rem;
}
nav .container-fluid a[href~="index.html"]{
  font-weight: 1000;
}

.navbar{
      background-color: #f2f2f2 !important;
}

.nav-item {
  font-size: 1.5rem;
}

.container-header {
  border-bottom: 3px solid;  
}

.row {
	max-width: 100%;
}
#Articles {
  --bs-gutter-x: 0;
}
.main > .container{
	font-size: 12px;
	font: "colibri";
	max-width: 100%;
	border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  position: relative;
  padding: 0 0 0 0;
}
.container h1,h2,h3{
	font-weight: 1000;

}
.container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  object-fit: scale-down;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    max-height: 30vh;
}
.container > #Articles > .col-12 {
	padding: 0 0 0 0;

}
.container > #Articles > .col-6 {
	height: 1080px;
	overflow-x:auto;
	padding: 0 0 0 0;

}

.container > #Articles > .col-4 {
	height: 1080px;
	overflow-y:auto;
	padding: 0 0 0 0;
  overflow-x: hidden;

}

#mainissuebox{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 2%;
  border: 20px ridge #865329;
}

#IssuesBox .card-title {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.container .colonne_variabili::-webkit-scrollbar {
  display: none;
}
.meta {
  margin-bottom: 1vh;
}

#issuedetails > .card > .card-body {
  height: 25vh;
  overflow-y: scroll;
}

#issuedetails > .card >.card-header {
 height: 8vh;
 font-size: 1em;

}

#issuedetails > .card >.card-header h5 {
 height: 8vh;
 font-size: 1.3rem;

}
.metadatibox > .card >.card-header {
 height: 8vh;
}

.metadatibox > .card >.card-header h5 {
 font-size: 1.3rem;
}



.metadatibox > .card > .card-body {
  height: 25vh;
  overflow-y: scroll;
  
}

.metadatibox > .card .card-title {
  text-align: center;

}

.metadatibox > .card >.card-header {
  overflow-y: auto;
}

.metadatibox > .card > .card-header::-webkit-scrollbar {
  display: none;
}

#issuedetails > .card > .card-body::-webkit-scrollbar {
  display: none;
}

.metadatibox > .card > .card-body::-webkit-scrollbar {
  display: none;
}

nav[data-toggle="toc"] {
  top: 10%;
}


nav[data-toggle=toc] .nav .nav>li>a {
  font-size: 14px;
  }
nav[data-toggle=toc] .nav>li>a {
  font-size: 20px;
}


/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modalgallery {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row > .column > img {
  width: 200px;
  height: 200px;
}

.gallery {
  background-color: #dcd6d6;
}

.palette {
    width: 100%;
    height: 100px;
}

#sovietred {
background-color: #ce2909;
}
#sovietwhite {
  background-color: #f1f5dc;
}
#sovietblack {
  background-color: #212528
}
#sovietgreen {
  background-color: #344c47;
}

#futureviolet {
  background-color: #3B244E;
}
#futureblue {
  background-color: #357EA2;
}

#futureice {
  background-color: #D5E5F0;
}

#futurepink {
  background-color: #ceb0e4;
}

#firstgradient {
  background-image: radial-gradient(circle, #ceb0e4, #c5c0ee, #c2cef1, #c8dbf1, #d5e5f0);
}
#secondgradient {
  background-image: linear-gradient(to right, #3b244e, #3c3a67, #39517e, #356792, #357ea2);
}

#thirdgradient{
      background: linear-gradient(0deg, rgba(52,54,78,1) 0%, rgba(33,30,46,1) 21%);
}
#medievalred{
  background-color: #cc072f;
}

#medievalblue{
  background-color: #231f99;
}

#parchmentwhite{
  background-color: #ede4c9;
}

#mustardyellow{
  background-color: #e4b241 ;
}

#seventiesgreen{
  background-color: #008000;
}

#seventiesred{
  background-color:#d04f2c ;
}

#seventiesbrown{
  background-color: #7c2f1a;
}

.icone {
    width: 7vh;
    height: 70px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}




/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

footer {
  border-top: 1px solid;
}
footer p {
    font-size: 0.8rem;
}

.col-8 {
  border-right: 2px solid;
    border-left: 2px solid;
}

.col-9 {
  border-right: 2px solid;
  border-left: 2px solid;
}

#toc{
  border-bottom: 0;
}

.btn-secondary {
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 2%;
  }

.btn-secondary  > a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 992px) {
  #stylesglasses {
    display: -webkit-inline-box;
  }

  .icone {
    height: 35px;
  }
}

.listaicone {
  text-align: center;
  margin: auto;
  padding: unset;
}

  .icon {
    text-decoration: none;
    display: inline-block;
  }

    .icon.alt {
          text-shadow: 1px 1px 1px #ccc;
          font-size: 1.5rem;
    }
      .icon.alt.github {
        color: #dcad8b;
      }

      .icon.alt.twitter {
        color: #7fb7d2;

      }   
      .icon.alt.facebook {
        color: #7490c3;
      }
      .icon.alt.linkedin {
           color: #0a66c2;
      }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 400;
    }

    .icon.solid:before {
      font-weight: 900;
    }

    .icon:before {
      line-height: inherit;
    }

    .icon.brands:before {
      font-family: 'Font Awesome 5 Brands';
    }

    .icon.circle {
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border: 0;
      border-radius: 100%;
      display: inline-block;
      font-size: 1.25em;
      height: 2.25em;
      left: 0;
      line-height: 2.25em;
      text-align: center;
      text-decoration: none;
      top: 0;
      width: 2.25em;
    }
.ottico {
  font-weight:bold;
  text-transform:uppercase;
}

.colonnaottica p {
    text-align: center;
    max-height: 350px;
    line-height: 2;
}


/*classe per evidenziare keywords nel testo*/
.highlight { background-color: yellow }