@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gothic+A1:wght@400;900&family=Nanum+Gothic&display=swap');

.container::-webkit-scrollbar {
  display: none;
}
.colonne_variabili {
	background-color: #ce2909;
    border-left: solid 10px;
    border-right: solid 10px;
    border-color: #212528;

}

.container .col-12{
    font-size:75px;
}

 .container .col-6 {
    font-size:45px;
}

.container .col-4{
    font-size:30px;
}

.CoverMain {
max-width: 100%;

}

.CoverMain figure {
    display: none;
}
.CoverTitle {
	max-width: 100%;

}
.CoverBackground {
background-color: #f1f5dc;
background-image: url("imgs/cybergedeon_skyline_industry.svg");
height: 400px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-top: -10px;

}

.CoverInfo {
    border-bottom: solid 10px;
    border-color: #212528;
    margin-bottom: 20px;
}

.CoverInfo ul {
    background-image: url("imgs/hammer_in_hand.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4em 4em;
    font-size: 0.4em;
    list-style: none;
    font-family: 'Gothic A1', sans-serif;
    color: #f1f5dc;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 15%;
}

.CoverInfo p {
    font-family: 'Gothic A1', sans-serif;
    color: #f1f5dc;
    font-weight: 700;
    line-height: 1;
    font-size: 0.35em;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display:flex;
}


.CoverTitle h1 {
	font-family: 'Dela Gothic One', cursive;    
	font-size: 1em;
	color: #f1f5dc;
    font-weight: 700;
    line-height: 1;
    background-color: #212528;
    text-transform: uppercase;
    text-align: -webkit-center;
    border-color: #f1f5dc;
	border-top: double 10px;	
    border-bottom: double 10px;
    border-left: double 10px;
    border-right: double 10px;
    padding: 8px 8px 20px 20px;
    word-wrap: break-word;
     }

.CoverInfo h2 {
    font-family: 'Dela Gothic One', cursive;
    color:  #212528;
    font-weight: 400;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.5em;
    border-color: #f1f5dc;
    border-top: solid 8px;
    border-bottom: solid 8px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

.ArticleBody h3 {
    font-family: 'Dela Gothic One', cursive;
    color: #f1f5dc;
    font-weight: 400;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.6em;
    border-color: #f1f5dc;
    border-top: solid 8px;
    border-bottom: solid 8px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
     }
     .ArticleBody h4 {
    font-family: 'Dela Gothic One', cursive;
    color: #f1f5dc;
    font-weight: 400;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.6em;
    border-color: #f1f5dc;
    border-top: solid 8px;
    border-bottom: solid 8px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
     }

.ArticleBody h5  {
    font-family: 'Dela Gothic One', cursive;
    color: #f1f5dc;
    font-weight: 400;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.6em;
    border-color: #f1f5dc;
    border-top: solid 8px;
    border-bottom: solid 8px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
     }

     .ArticleBody h6 {
    font-family: 'Dela Gothic One', cursive;
    color: #f1f5dc;
    font-weight: 400;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.6em;
    border-color: #f1f5dc;
    border-top: solid 8px;
    border-bottom: solid 8px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
     }

.ArticleBody p {
    font-family: 'Gothic A1', sans-serif;
    color: #f1f5dc;
    font-weight: 300;
    line-height: 1;
    font-size: 0.5em;
    text-align: justify;
    font-variant: small-caps;
    padding: 0px 2px 0px 8px;
}

.ArticleBody blockquote{
    transform: skewY(-5deg);
    margin-bottom: 50px;
    margin-top: 30px;
}
 .ArticleBody blockquote p {
    font-size: 0.8em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Gothic A1', sans-serif;
    color: #e6ebd1;
    font-weight: 200;
    line-height: 0.8;
    text-align: center;


 }

.ArticleBody img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: sepia(0.3);
    transform: rotate3d(1, 1, 1, -2deg);
    border: double 8px #f1f5dc;
}

.ArticleBody a {
	font-family: 'Dela Gothic One', cursive;    
	color: #f1f5dc;
    font-weight: 500;
    line-height: 1;
    font-size: 0.8em;
    text-transform: uppercase;
	text-decoration: none;
     } 

.ArticleBody ul {
    font-family: 'Gothic A1', sans-serif;    
    color: #212528;
    font-weight: 150 !important;
    line-height: 1.5;
    font-variant: small-caps;
    font-size: 0.5em;
}

.ArticleBody li {
    list-style: none;
    position: relative;
    padding-left: 15px;
}

.ArticleBody li:before {
    content: "\25BC \0020";
    font-size: 10px;
}

.ArticleBody figcaption {
    font-family: 'Gothic A1', sans-serif;
    color: #f1f5dc;
    font-weight: 150;
    line-height: 1;
    font-size: 0.5em;
    text-align: center;
    transform: rotate3d(1, 1, 1, -2deg);
    margin-top: 1%;
    border: double 2px #212528;
    padding: 1% 5% 1% 5%;
    font-variant: small-caps;
    margin-left: 10%;
    margin-right: 10%;
}
.CoverMain figcaption {
    font-family: 'Gothic A1', sans-serif;    
    color: #f1f5dc;
    font-weight: 150;
    line-height: 1.2;
    font-size: 0.4em;
    text-align: center;
    text-transform: uppercase;
}