body {
    background-color: grey;
    opacity: 0.3;
  }
  
  .header {
    color:yellow;
    background-color: thistle;
  }
  
  h1 {
    color: black;
    margin-left: 20px
    background-color: black;
    ;
  }
  
  p {
    color: whitesmoke;
    margin-left: 20px
    background-color: black;
    ;
  }