/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');


@font-face {
    font-family: 'sardonyxregular';
    src: url('other_fonts/sardonyx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('other_fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre_bodonibold';
    src: url('other_fonts/librebodoni-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'libre_bodonibold_italic';
    src: url('other_fonts/librebodoni-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_bodoniitalic';
    src: url('other_fonts/librebodoni-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_bodoniregular';
    src: url('other_fonts/librebodoni-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Minion Pro';
    src: url('other_fonts/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* INDEX */
body{
    color: rgb(0, 0, 0);
    background-color: #f9f6f0;
    background-repeat:repeat;
    font-family: 'Minion Pro'; 
    font-weight: 400;
}


/*cose nuove */
button{
    background-color: #f9f6f0;
    font-family: 'Minion Pro'; 
    font-weight: bold;
    border-radius: 10%;
    border: solid 4px #000000;
}


.container-fluid > .row > .col-8{
    background-color: #f9f6f0;
    background-repeat:repeat;
}


.container-fluid > .row > .col-2{
    background-image: url("imgs/chanel.jpg");
    opacity: 0,5;
    background-size: 300px 300px;
    background-position:top;
    background-repeat: repeat;
    padding: 15px;
}

.col-3 {
    background-image: url("imgs/voguenaiomi.jpg");
    background-position: center;
    background-repeat: repeat;
}

#mainpage{
    background-image: inherit;
}

/*main è dove trovo le issues*/ 
.main #IssueBox .col-4{
    background-color: rgb(0, 0, 0);
}
.main h3{
    font-family: 'Bodoni Moda', serif;
    color:rgb(2, 1, 1) ;
}

.container-fluid h1{
    font-family: 'sardonyxregular';
    font-size: 8em;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 500;
    line-height: 1;
    text-align: -webkit-center;
    text-transform: lowercase;
}

.container-fluid h2{
    font-family: 'ralewaythin'; 
    color: #81223F;
    font-weight: 400;
    letter-spacing: 0,1px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 3em;
    text-align: center;
}

.container-fluid h3{
    font-family: 'Playfair Display', serif;
    color: #81223F ;
    font-weight: 300;
    letter-spacing: 1,5px;
    text-align: center;
    padding: 3%;
}

.container-fluid h4{
    font-family: 'Playfair Display', serif;
    color: #81223F;
    font-weight: 300;
    letter-spacing: 1,5px;
}
.container-fluid h5{
    font-family: 'Playfair Display', serif;
    color: #81223F;
    font-weight: 300;
    letter-spacing: 1,5px;
}
.container-fluid h6{
    font-family: 'Playfair Display', serif;
    color: #81223F;
    font-weight: 300;
    letter-spacing: 1,5px;

}
.container-fluid p{
    font-family: 'Minion Pro'; 
    color: rgb(0, 0, 0);
    font-weight: 400;
}

/*card nella pagina della issue*/
.metadatibox > .card >.card-header {
    height: 14vh;
}

.card{
    background-color: #f9f6f0;
    border: solid 4px rgba(0, 0, 0, 0.534); 
    padding: 3px;
    padding-top: 5px;
}

.card button {
    color: #fff;
    background-image: black;
    border-color: black;
}

.card a{
    font-family: 'Minion Pro'; 
    color:#f9f6f0;
}
.card > .card-header{
    background-color: #f9f6f0;
    font-family: 'Minion Pro'; 
    font-weight: 300;
}

.card > .card-body{
    background-color: #f9f6f0;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Minion Pro'; 
    font-weight: 300;
}

.card > .card-text{
    font-family: 'Minion Pro'; 
}

.btn-secondary {
    background-color: #81223F;
}

/*footer della pagina iniziale*/

footer{
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #d7c8a4;
    color: rgb(0, 0, 0);
}
footer p {
    font-size: 1rem !important;
}

footer .col-3{
    font-family: 'Minion Pro'; 
    font-weight: 100;
    background-color:#000000 ;
    border: solid 5px rgba(202, 42, 21, 0.534);
}


.p-3{
    background-color: rgb(0, 0, 0);
    color:#000000 ;
    font-size: 1em;
}

.p-3 a{
    color:#d7c8a4 ;
}

.form-check-input:checked {
    background-color: #81223F;
}












/* container */
.container {
    background-color: #f9f6f0;
    font-size: 60px;
	max-width: 90%;
}

/* imgs */
.container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container figure #right {
	float:right;
}

/* h1 */
.container h1{
    font-family: 'sardonyxregular';
    font-size: 8em;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 500;
    line-height: 1;
    text-align: -webkit-center;
    text-transform: lowercase;
}

/* h2 */
.container h2 {
    font-family: 'ralewaythin'; 
    color: #81223F;
    font-weight: 400;
    letter-spacing: 0,1px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 3em;
    text-align: center;
     }

 /* h3 */  
.container h3 {
    font-family: 'Playfair Display', serif;
    color: #81223F;
    font-weight: bold;
    letter-spacing: 1,5px;
    line-height: 1,5;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 16px;
   }

/* h4 */
 .container h4 {
    font-family: 'Playfair Display', serif;
    color: #81223F;
    font-weight: 400;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 16px;
    } 

  /* h6 */
.info h6 {
    font-family: 'Playfair Display', serif;
	color: #5F696D;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 1em;  
    text-align: right;
    }    

.info ul {
    font-family: 'Playfair Display', serif;
    color: #5F696D;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 1em;  
    text-align: right;
    list-style: none;
    }    
    
.info p {
    font-family: 'Playfair Display', serif;
    color: #5F696D;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 1em;  
    text-align: right;
    }    
          
    
/* special for author and date of the article */
.info {
    color: #5F696D;
    border-color: #f1f5dc;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    }


.drop-cap p:first-of-type::first-letter {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 50;
    font-size: 10em;
    color: #DE6449;
    text-transform: lowercase;
    float:left;
    line-height: 0.4;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.ArticleBody p {
	font-family: 'Minion Pro'; 
	color: #000000;
    text-align: justify;
    font-weight: normal;
    line-height: 1;
    font-size: 16px  
    }     
.container blockquote {
	font-family: 'Minion Pro';    
	color: #000000; 
    font-weight: 200;
    line-height: 1;
    font-size: 16px;
    }  

.container a {
	font-family: 'Minion Pro'; 
	color: #000000;
    font-weight: 150;
    line-height: 1;
    font-size: 16px;
	text-decoration: none;
    } 

.ArticleBody ul {
    font-family: 'Minion Pro';  
	color: #000000;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 16px;  
    } 

.ArticleBody{
    columns: 3;
    margin-top: 2em;
    margin-right:  2em;
    margin-bottom: 2em;
    margin-left: 2em;
    }


.highlight{
    background-color: yellow;
}