/* fonts */
@font-face {
    font-family: 'sardonyxregular';
    src: url('other_fonts/sardonyx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('other_fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');




/* container */
.container {
    background-color:whitesmoke;
    font-size: 60px;
	max-width: 90%;
}

/* imgs */
.container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container figure #right {
	float:right;
}

/* h1 */
.container h1{
    font-family: 'sardonyxregular';
    font-size: 2em;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 500;
    line-height: 1;
    text-align: -webkit-center;
    text-transform: lowercase;
}

/* h2 */
.container h2 {
    font-family: 'ralewaythin'; 
    color: #000000;
    font-weight: 400;
    letter-spacing: 0,1px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0,8em;
    text-align: center;
     }

 /* h3 */  
.container h3 {
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-weight: 10;
    letter-spacing: 1,5px;
    line-height: 1,5;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.5em;
   }

/* h4 */
 .container h4 {
    font-family: 'Bodoni Moda', serif; 
    color: #000000;
    font-weight: 400;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.3em;
    text-transform: uppercase;
    } 

/* special for author and date of the article */
.info {
    color: rgb(62, 197, 69);
    border-color: #f1f5dc;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    text-align: center;
    text-transform: uppercase;
    }


.body p:first-of-type::first-letter {
font-weight: 100;
font-size: 8em;
color: rgb(241, 24, 24);
text-transform: lowercase;
}

/* PROVA 
.container p:first-of-type::first-letter {
    font-weight: 100;
    font-size: 8em;
    color: rgb(241, 24, 24);
    text-transform: lowercase;
    }

/* PROVA 
.container p.90s::first-letter {
        font-weight: 100;
        font-size: 8em;
        color: rgb(241, 24, 24);
        text-transform: lowercase;
        }
*/

.container p {
	font-family: 'Bodoni Moda', serif;  
	color: #000000;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 0.3em;  
    }     
.container blockquote {
	font-family: 'Bodoni Moda', serif;   
	color: #e6ebd1; /*slightly darker*/
    font-weight: 200;
    line-height: 1.2;
    font-size: 0.4em;
    border-top: dotted 4px;
    border-bottom: dotted 4px;
    border-left: dotted 4px;
    border-right: dotted 4px;
    text-transform: uppercase;
    }  

.container a {
	font-family: 'Bodoni Moda', serif;  
	color: #000000;
    font-weight: 500;
    line-height: 1;
    font-size: 1em;
	text-decoration: none;
    } 

.container ul {
    font-family: 'Bodoni Moda', serif;  
	color: #000000;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 0.3em;  
    } 