/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&family=Orelega+One&display=swap');

@font-face {
    font-family: 'cloister_blacklight';
    src: url('other_fonts/cloisterblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* container */
.container {
    background-image: url("imgs/xixpaper.jpg");
	background-color: transparent;
    font-size: 60px;
	max-width: 90%;
}

/* imgs */
.container img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* h1 */
.container h1{
	font-family: 'cloister_blacklight';
	font-size: 1em;
    letter-spacing: 1,5px;
	color: #000000;
    font-weight: 700;
    line-height: 1;
    text-align: -webkit-center;
    }

.container h2 {
    font-family: 'Bodoni Moda', serif; 
    color: #000000;
    font-weight: 400;
    letter-spacing: 1,5px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.5em;
    border-color: #f1f5dc;
    border-top: solid 4px;
    border-bottom: solid 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container h3 {
    font-family: 'Bodoni Moda', serif; 
    color: #000000;
    font-weight: 400;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.4em;
    border-color: #f1f5dc;
    border-top: solid 2px;
    border-bottom: solid 2px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
     }

 .container h4 {
    font-family: 'Bodoni Moda', serif; 
    color: #000000;
    font-weight: 400;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 0.3em;
    text-transform: uppercase;
    } 

.info {
    color: red;
    border-color: #f1f5dc;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    text-align: center;
    text-transform: uppercase;
    }

.body p:first-of-type::first-letter {
    font-weight: bold;
    font-size: 2em;
    color: rgb(0, 0, 0);
    }


.container span.special {
    font-weight: bold;
    font-size: 2em;
    color: rgb(0, 0, 0);
    }

.container p {
	font-family: 'Bodoni Moda', serif;  
	color: #000000;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 0.3em;  
    }  

.container blockquote {
	font-family: 'Bodoni Moda', serif;  
	color: #000000;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 0.3em;  
    }  

.container a {
	font-family: 'Bodoni Moda', serif;  
	color: #000000;
    font-weight: 500;
    line-height: 1;
    font-size: 1em;
	text-decoration: none;
    } 

.container ul {
    font-family: 'Bodoni Moda', serif;  
	color: #000000;
    text-align: justify;
    font-weight: 150;
    line-height: 1;
    font-size: 0.3em;  
    } 
