/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

@font-face {
    font-family: 'cloister_blacklight';
    src: url('other_fonts/cloisterblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
        font-family: 'Clarendon';
        src: url('other_fonts/Clarxndon-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    

/* INDEX */
body{
    color: rgb(0, 0, 0);
    background-image:  url("imgs/off_white1.jpg"); 
    background-color: transparent;
    background-repeat:repeat;
    font-family: 'Bodoni Moda', serif;
    font-weight: 300;
}

/*cose nuove */

/* VEDERE SE TENERE
.container-fluid{
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.row{
    --bs-gutter-x: 0;
}
  */


.container-fluid > .row > .col-8{
    background-image: url("imgs/off_white1.jpg");
    background-color: transparent;
    background-repeat:repeat;
    text-align:justify;
}





.container-fluid > .row > .col-2{
    background-image: url("imgs/victorian_coca_cola_ad.jpg"); opacity: 60%;
    background-size: 300px 300px;
    background-position:top;
    background-repeat: repeat;
}

.col-3 {
    background-image: url("imgs/lipton.png");
    background-position: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: solid 3px;
    border-left: solid 1px;
}

#mainpage{
    background-image: inherit;
}

/*ISSUES*/ 


.container-fluid h1{
    font-family: 'cloister_blacklight';
    color:rgb(0, 0, 0);
    font-weight:normal;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 5em;
}

.container-fluid h2{
    font-family: 'Clarendon';
    color:rgb(3, 3, 5);
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    padding:2%;
}

.container-fluid h3{
    font-family: 'Clarendon';
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-align: center;
    padding: 3%;
}

.container-fluid h4{
    font-family: 'Clarendon';
    color:rgb(0, 0, 0);
    font-weight: 300;
}
.container-fluid h5{
    font-family:'Clarendon';
    color:rgb(0, 0, 0);
    font-weight: 300;
}
.container-fluid h6{
    font-family: 'Clarendon';
    color: rgb(0, 0, 0);
    font-weight: 300;

}
.container-fluid p{
    font-family: 'Bodoni Moda', serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

/*card nella pagina della issue*/
.metadatibox > .card >.card-header {
    height: 16vh;
    
}
.metadatibox > .card >.card-header h5{ 
    font-family: 'cloister_blacklight';
    color:rgb(0, 0, 0);
    font-weight: 300;
    font-size: 2em;   
}

.card{
    background-image: url("imgs/off_white1.jpg") ;
    border: solid 2px rgba(0, 0, 0, 0.534); 
    padding: 3px;
    padding-top: 5px;
    border: solid 2px;
    position:inherit;
}

.card a{
    font-family: 'Bodoni Moda', serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1;
    font-size: 1rem;
    text-decoration: none;
     } 
}
.card > .card-header{
    background-image: url("imgs/off_white1.jpg");
    font-family: 'Bodoni Moda', serif;
    font-weight: 300;
}

.card > .card-body{
    background-image: url("imgs/off_white1.jpg");
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Bodoni Moda', serif;
    font-weight: 300;
}

.card > .card-text{
    font-family: 'Bodoni Moda', serif;
}

.btn-secondary {
    background-image: url(imgs/off_white1.jpg);
}

.colonnaottica p {
    color: #000000 ;
    font-family: 'Clarendon';
}

/*footer della pagina iniziale*/

footer{
    background-color: ;
    color: rgb(0, 0, 0);
}

footer p {
    font-size: 1rem !important;
}

footer .col-3{
    font-family: 'Bodoni Moda', serif;
    font-weight: 100;
    font-size: 1em;
    background-image: url("imgs/off_white1.jpg");
    border: solid 5px rgba(0, 0, 0, 0.534);
}


.p-3{
    background-color: rgb(129, 108, 108);
    color:#000000 ;
    font-size: 1em;
}

.p-3 a{
    color:#000000 ;
    font-size: 1em;
}


.form-check-input:checked {
    background-color: #575555;
}



#modaldisclaimer .modal-content{
    background-image:url("imgs/off_white1.jpg");
    font-family: 'Bodoni Moda', serif;
    font-size: 14px;
    text-align:justify;
    color:#000000

}

#modaldisclaimer .modal-content h5{
    font-family: 'Clarendon';
}

#modaldisclaimer .modal-content button{
    color: rgb(0, 0, 0);
    background-image: url("imgs/off_white1.jpg");
    border-color: rgb(129, 108, 108);
}

#modaldisclaimer .modal-content a{
    color: rgb(0, 0, 0);
}





/* ARTICOLI */
/* container */
.container {
    background-image: url("imgs/off_white1.jpg");
	background-color: transparent;
    font-size: 100px;
	max-width: 90%;
}

/* imgs */
.container img {
    -webkit-filter: grayscale(95%)  brightness(60%) opacity(60%);
    filter: grayscale(95%) brightness(60%) opacity(60%) ;
	display: block;
	margin-left: auto;
	margin-right: auto;
    border-color: #000000;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
}

/* h1 */
.container h1{
	font-family: 'cloister_blacklight';
	font-size: 5em;
    letter-spacing: 1,5px;
	color: #000000;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    }

.container h2 {
    font-family: 'Clarendon'; 
	color: #000000;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1,5px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    }
/* ALTERNATIVE 
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 18px;
    border-color: #f1f5dc;
    border-top: solid 2px;
    border-bottom: solid 2px;
    margin-top: 5px;
    margin-bottom: 5px;
*/

.container h3 {
    font-family: 'Clarendon'; 
    color: #000000;
    font-weight: bold;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 18px;
    border-color: #f1f5dc;
    border-top: solid 2px;
    border-bottom: solid 2px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
     }

 .container h4 {
    font-family: 'Clarendon'; 
    color: #000000;
    font-weight: bold;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 18px;
    border-color: #f1f5dc;
    border-top: solid 2px;
    border-bottom: solid 2px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    } 

.info h6 {
        font-family: 'Clarendon'; 
        color: #000000;
        font-weight: bold;
        line-height: 0.8;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 9px;
        text-transform: uppercase;
        } 
.info ul {
        font-family: 'Clarendon'; 
        color: #000000;
        font-weight: bold;
        line-height: 0.8;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 9px;
        text-transform: uppercase;
        } 
.info p
{
    font-family: 'Clarendon'; 
    color: #000000;
    font-weight: bold;
    line-height: 0.8;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 9px;
    text-transform: uppercase;
    } 

.info {
    color: #000000;
    letter-spacing: 1,5px;
    line-height: 1;
    padding-top: 1px;
    padding-bottom: 0px;
    font-size: 5px;
    border-color: #f1f5dc;
    border-top: solid 2px;
    border-bottom: solid 2px;
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.body p:first-of-type::first-letter {
    font-weight: bold;
    font-size: 2em;
    color: rgb(0, 0, 0);
    }


.container span.special {
    font-weight: bold;
    font-size: 2em;
    color: rgb(0, 0, 0);
    }

.ArticleBody p {
	font-family: 'Bodoni Moda', serif; 
	color: #000000;
    text-align: justify;
    line-height: 1;
    font-size: 14px;  
    }  

.container blockquote {
	font-family: 'Bodoni Moda', serif; 
	color: #000000;
    text-align: justify;
    font-weight: 200;
    line-height: 1;
    font-size: 14px;  
    }  

.container a {
	font-family: 'Bodoni Moda', serif;  
	color: #000000;
    font-weight: 200;
    line-height: 1;
    font-size: 14px;
	text-decoration: none;
    } 

.ArticleBody ul {
    font-family: 'Bodoni Moda', serif;  
	color: #000000;
    text-align: justify;
    font-weight: 200;
    line-height: 1;
    font-size: 1em;  
    list-style: none;
    } 

.ArticleBody li {
    font-family: 'Bodoni Moda', serif;  
    color: #000000;
    text-align: justify;
    font-weight: 200;
    line-height: 1;
    font-size: 1em;  
    } 

    table {
        font-size: 1em;
        border: solid 2px #000000;
        table-layout: fixed;
        word-break: break-word;
    }
    
    tr {
        border-top: solid 2px #000000;
        border-bottom: solid 2px;
    }
    
    th {
        color: #000000;
        width: 100%;
        background-image: url("imgs/off_white1.jpg");
        font-size: 12px;
        font-family: 'Bodoni Moda', serif;
        border-right: solid 2px #000000;
        border-left: solid 2px;
    }
    
    td {
        color: #000000;
        width: 100%;
        background-image: url("imgs/off_white1.jpg");
        font-size: 12px;
        border-right: solid 2px #000000;
        border-left: solid 2px;
    }
    table caption {
        color: #000000;
        font-size: 12px;
    
    }
.ArticleBody{
        columns: 4;
        margin-top: 12px;
    margin-right:  12px;
    margin-bottom: 12px;
    margin-left: 12px;
    }

.highlight{
    background-color: yellow;
}

#scrollLink{
    font-size: 14px;
    font: color #000000;
}


.col-9{
    background-image: url("imgs/off_white1.jpg");
    font-family:'Bodoni Moda', serif;
    font-size: 16px !important;
    text-align:justify;
}

.col-9 h2{
    font-family:'cloister_blacklight' !important;
    font-size: 4em;
}

.col-9 h3{
 font-family: 'Clarendon';
}

.col-9 ul{
    font-family: 'Bodoni Moda', serif;  
    color: #000000;
    text-align: justify;
    font-weight: 200;
    line-height: 1;
    font-size: 1em;  
    list-style: none;
} 

.col-9 li{
    font-family: 'Bodoni Moda', serif;  
    color: #000000;
    text-align: justify;
    font-weight: 200;
    line-height: 1;
    font-size: 1em;  
} 

.gallery img{
    filter: none;
}
